<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>netutils-shared-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>netutils-static-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>netutils-static-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08BB30A118EE6D43009A9E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82B2EC31A1009D100EA3AD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89DB3091940282D004EE1B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89DB3171940282D004EE1B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D89DB33219402A88004EE1B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CC441F194032DB007DCAA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E4CA9A1A0FF373006EC55A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
